
<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>

  <title></title>
</head>

<body>

  {% include "quiz/navbar.html" %}
  <br><br><br><br><br>
   <center>
    <h1 class='alert alert-success' style="margin-bottom:0px;">Successfull !!!</h1>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    <center>
        <h2 class="lead">Your password has been reset successfully</h2><br>
        <h3>You can <a style="text-decoration: none;" href="{% url "studentlogin" %}"> Login here</a></h3>
    </center>
    <br><br><br><br><br><br><br><br><br><br>
  </div>
</body>
{% include "quiz/footer.html" %}

</html>

