
<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
          <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
            
            {% block content %}
                {% if validlink %}
                    <center>
                        <h3 class='alert alert-success' style="margin-bottom:0px;">Reset your password</h3>
                    </center>            
                    <br><br><br>
                    <!-- <p>Please enter your new password twice:</p> -->
                    <form action="." method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="submit" class="btn btn-primary" value="Change my password">Change Password</button>
                    </form>
                {% else %}
                    <center>
                        <h2 class='alert alert-success' style="margin-bottom:0px;">Invalid</h2><br>
                        <h3>The password reset link was invalid, possibly because it has already been used.</h3>
                        <h3>Please request a new password reset <a style="text-decoration: none;" href="{% url "password_reset" %}">here</a></h3>
                    </center>
                {% endif %}
            {% endblock %}
            <br><br><br><br><br><br><br><br><br><br>
          </div>
    </body>
</html>
